html {
  height: 100%;
  overflow-x: hidden !important;
}


.destaques{ overflow-x: scroll; }
.destaques #card1{ margin: 10px; left: 0;}
.card{
  padding: 20px;
  left: 50px;
  margin: 0 auto;
  display: flex;
}


a #buttonc1{ float: right; bottom: 0!important;}
.card img{ padding: 5px; float: none; }
.footer_hide{display: none;}
.footer_semi{display: none;}
body,
main,
ul,
li,
p,
section,
article,
aside {
  margin: 0px;
  padding: 0px;
  font-family: "Courier New", Courier, monospace;
}
.searchbar{
   z-index: 200;
   border: 2px solid rgb(176, 179, 180);
   box-sizing: border-box;
   font-family: 'Roboto', sans-serif;
   height: 400px;
   padding: 100px;
   position: right;
   width: 300px;

  }

/*menu*/
#menuToggle {
  display: none;
}
.menu-icon {
  display: none;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

/*Fonte do Menu*/
li a {
  display: block;
  color: rgb(250, 250, 250);
  background-color: rgb(38, 29, 175);
  font-weight: bolder;
  text-align: center;
  padding: 30px;
  text-decoration: none;
  font-size: 18px;
  margin-top: 50px;
  margin-left: 10px;
  overflow-wrap: normal;
}

/*Menu selecionado */
li a:hover {
  background-color: #48d0e2;
}

h3.filme {
  display: none;
}
/*
button.btn {
  float: right;
  background-color: rgb(18, 156, 224);
  color: rgb(50, 19, 206);
  margin: 15px;
 border-radius: 10px;
 height: 40px;
}*/

/*Barra de Pesquisa*/
.searchbar {
  margin-bottom: 10px;
  margin-top: 0px;
  height: 45px;
  background-color: rgb(86, 86, 88);
  border-radius: 50px;
  padding: 3px;
 /* align-content: left !important;*/
  margin-left: 30px;
  display:block;
}
.search_input {
  color: rgb(7, 137, 243);
  border: 0;
  outline: 0;
  background:  rgb(232, 234, 238);
  width: 0;
  line-height: 20px;
  transition: width 0.2s linear;
}
.searchbar:hover > .search_input {
  padding: 0 20px;
  width: 150px;
  height: 35px;
  border-radius: 10px;
  transition: width 0.4s linear;
}
.searchbar:hover > .search_icon {
  background: rgb(74, 74, 75);
  color: #f8f6f6;
}





/*RATING CARDS*/

.block-text {
  color: #ffc400;
  font-size: 14px;
  margin-top: 10px;
  padding: 10px 10px;
  text-align: center;
}
.block-text a {
  color: #030303;
  font-size: 25px;
  font-weight: bold;
  line-height: 5px;
  text-decoration: none;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
}
.block-text p {
  color: #000000;
  font-family: Georgia;
  font-style: italic;
  line-height: 20px;
  text-align: center;
  margin: 5px;
  padding: 5px;
}

.block {
  display: block;
}
.zmin {
  z-index: 1;
}
.ab {
  position: absolute;
}
.person-text {
  padding: 15px 0 0;
  text-align: center;
  z-index: 2;
}
.person-text a {
  color: #000000;
  display: block;
  font-size: 14px;
  margin-top: 3px;
  text-decoration: underline;
  font-weight: bold;
}
.person-text i {
  color: rgb(0, 0, 0);
  font-family: Georgia;
  font-size: 13px;
}
.rel {
  position: relative;
}

/*Media Queries*/
@media screen and (max-width: 600px) {
  /*header*/
  .header {
    display: block;
    position: fixed;
    padding: 15px;
    margin-bottom: 30px;
    text-align: right;
    background-size: cover;
    background-position: 0px -10px;
    top: 0px;
    left: -22px;
    width: 100%;
    height: 150px;
    z-index: 999;
    background-repeat: no-repeat;
  }
  .logo_header {
    width: 200px;
    padding-bottom: 20px;
  }

  .header ul {
    display: absolute;
    width: 100%;
  }
  .searchbar {
    display: none;
  }

  /*menu*/
  .menuT {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    align-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0%;
    background-color: rgba(0, 69, 90, 0.815);
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
    left: -25px;
  }
  .menuT li {
    display: block;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 25px;
  }
  .menuT li a {
    display: block;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 20px;
  }
  .menu-icon {
    width: 50px;
    height: inherit;
    display: block;
    position: absolute;
    top: 15px;
    right: 30px;
    line-height: 60px;
    color: white;
    z-index: 99999;
  }
  #menuToggle:checked ~ label.menu-icon i:nth-child(2) {
    display: block;
  }
  #menuToggle:checked ~ label.menu-icon i:first-child {
    display: none;
  }
  #menuToggle:not(:checked) ~ label.menu-icon i:first-child {
    display: block;
  }
  #menuToggle:not(:checked) ~ label.menu-icon i:nth-child(2) {
    display: none;
  }
  #menuToggle:checked ~ ul.menuT {
    height: 100%;
  }
  .menu-icon i {
    font-size: 2em;
  }



  /*rodapé*/
  .footer_hide {
    align-items: center;
    font-size: 12px;
    background-size: cover;
    background-position: 0px -150px;
    color: white;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-left: 10px;
    bottom: 0px;
    background-repeat: no-repeat;
  }
  .logo_footer {
    align-self: center;
    width: 110px;
    margin-left: 30px;
  }
}

  /*header*/


    /*corpo da pesquisa*/
  body {
    background-color: #0c014b;

    background: -webkit-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #4615f8);
    background: -o-linear-gradient(right, #21d4fd, #b721ff, #21d4fd, #4615f8);
    background: -moz-linear-gradient(right, #21d4fd, #4615f8, #4615f8, #4615f8);
    background: linear-gradient(right, #21d4fd, #4615f8, #21d4fd, #4615f8);
  }

  .header-2 {
    display: absolute;
    padding: 15px;
    margin-bottom: 30px;
    text-align: right;
    background-size: cover;
    background-position: 0px -90px;
    background-color: #0c014b;
    left: -22px;
    width: 100%;
    height: 200px;
    top: 0px;
    background-repeat: no-repeat;
  }



  #pesquisa {
    display: block;
    text-align: center;
    position: absolute;
    width: 30%;
    top: 120px;
    left: 5px;
    float: right;

}
.busca input {
    background-repeat: no-repeat;
    height: 38px;
    padding: 15px;
    width: 200px;
    margin-top: 5px;
    background-position: 96%;
    max-width: 80%;
    float: left;
    border: 1px solid #3b07f8;
}

  /*MenuToggle*/
  .header ul {
    display: absolute;
    width: 100%;
  }
  /*menu*/
  .menuT {
    display: flex;
    position: fixed;
    flex-wrap: wrap;
    align-content: center;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0%;
    background-color: rgba(0, 69, 90, 0.815);
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    -ms-transition: height 0.3s;
    -o-transition: height 0.3s;
    transition: height 0.3s;
    left: -25px;
    width: 100%;
  }
  .menuT li {
    display: block;
    width: 100%;
    margin-left: 0px;
    margin-bottom: 25px;

  }
  .menuT li a {
    display: block;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 25px;
  }
  .menu-icon {
    width: 50px;
    height: inherit;
    display: block;
    position: absolute;
    top: 15px;
    right: 30px;
    line-height: 60px;
    color: white;
    z-index: 99999;
  }
  #menuToggle:checked ~ label.menu-icon i:nth-child(2) {
    display: block;
  }
  #menuToggle:checked ~ label.menu-icon i:first-child {
    display: none;
  }
  #menuToggle:not(:checked) ~ label.menu-icon i:first-child {
    display: block;
  }
  #menuToggle:not(:checked) ~ label.menu-icon i:nth-child(2) {
    display: none;
  }
  #menuToggle:checked ~ ul.menuT {
    height: 100%;
  }
  .menu-icon i {
    font-size: 2em;
  }

  /*body*/
  /*titulos de seções*/
  h1.lançamento {
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
  }
  h1.destaque,
  h1.avaliação,
  h1.makingof,
  h1.novidade {
    display: absolute;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
  }
  .sobre h1,
  .redes h1,
  .editorial h1 {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    padding-right: 20px;
  }

  .lançamentos p {
    font-size: 15px;
    display: block;
  }
  .lançamentos {
    margin: 40px;
  }
  .titulo_filme {
    font-weight: bold;
  }

  .sobre p {
    text-align: center;
  }

  /*destaque*/
  .destaques {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 15px;
  }
  .destaques > div {
    flex: 1 0 400px;
    margin: 5px;
    height: auto;
  }
  #buttonc1,
  #buttonc2,
  #buttonc3,
  #buttonc4 {
    float: right;
    background-color: white;
    color: rgb(0, 72, 180);
  }
  .destaques h5 {
    font-weight: bold;
    font-size: 20px;
  }
  #categorias {
    margin: 15px;
  }
  #card1,
  #card2,
  #card3,
  #card4 {
    padding: 0px;
  }

  #avaliação .card-title {
    align-content: center;
    margin: 0 auto;
    height: auto;
    width: 500px;
  }

  /*makingof*/
  .makingoff {
    width: 590px;
    margin: 0 auto;
    font-size: 18px;
  }
  .makingoff .card {
    text-align: center;
    margin: auto;
    margin-bottom: 10px;
  }
  #videoM {
    height: 350px;
  }
  #mf4,
  #mf5 {
    display: none;
  }
  /*novidades*/
  .novidades {
    display: block;
    margin: 0 auto;
    font-size: 15px;
  }
  .novidades img {
    width: 300px;
    padding-top: 10px;
    margin: 0 auto;
  }
  #CardN {
    align-content: center;
    text-align: center;
    max-height: 550px;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 0 auto;
  }
  .novidades p:first-of-type {
    top: 0px !important;
    padding-left: 40px;
    padding-right: 45px;
  }
  .novidades h5 {
    font-size: 18px;
    font-weight: bold;
  }

  /*infos*/
  .grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    max-width: 800px;
    padding: 20px;
  }
  .sobre {
    grid-row: 1 / 3;
    grid-column: 1;
    text-align: center;
  }
  .editorial {
    grid-row: 1;
    grid-column: 2;
    text-align: center;
  }
  .redes {
    grid-row: 2 / 3;
    grid-column: 2;
    text-align: center;
  }
  .editorial h1 {
    padding-left: 30px;
  }
  .redes .icones {
    font-size: 2em;
    height: inherit;
    padding-right: 25px;
    color: rgb(17, 17, 17);
  }
  .footer_hide{display: none;}
  .footer_full{display: none;}


  /*rodapé*/
  .footer_semi {
    align-items: center;
    font-size: 12px;
   /* background-image: url(Imagens/background_footer.jpg);*/
    background-size: cover;
    background-position: 0px -150px;
    color: white;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    padding-left: 10px;
    bottom: 0px;
    background-repeat: no-repeat;
  }
  .logo_footer {
    margin-left: 50px;
    width: 120px;
  }
/*termina aqui*/

@media screen and (max-width: 767px) {
  h3.filme {
    display: block !important;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.178);
    margin-bottom: 0px;
  }
  .lançamentos {
    margin: 0px;
  }
  #avaliação {
    margin-bottom: 100px;
  }
  #av3,
  #av2 {
    display: none;
  }
  #av1 {
    max-width: 400px;
    padding: 10px;
    margin: 0 auto !important;
  }
}

@media screen and (min-width: 1024px) {
  /*header*/
  .header {
    display: absolute;
    padding: 15px;
    margin-bottom: 30px;
    text-align: right;
    background-image: url(Imagens/background_footer.jpg);
    background-size: cover;
    background-position: 0px -5px;
    color: white;
    width: 100%;
    height: 250px;
    top: 0px;
    background-repeat: no-repeat;
  }
  header.header img.logo_header {
    width: 250px;
    align-self: center;
    padding-top: 20px;
    float: left;
  }
  #pesquisa {
    display: block;
    position: absolute;
    top: 10px;
    left: 5px;
    width: 100%;


      float: left;
  /*    position: relative;*/

  }
  #navbarNav .navbar-nav {
    display: inline;
    font-weight: bolder;
    font-size: 20px;
    padding-top: 40px;
  }


  /*body titulos de seções*/
  h1.lançamento {
    padding: 5px;
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    color: rgb(41, 231, 231);
  }
  h1.destaque,
  h1.avaliação,
  h1.makingof,
  h1.novidade {
    display: absolute;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;

  }
  .sobre h1,
  .redes h1,
  .editorial h1 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }

  .lançamentos p {
    font-size: 20px;
    display: block;
  }
  .lançamentos {
    margin: 5%;
  }
  .titulo_filme {
    font-weight: bold;
  }
  .sobre p {
    text-align: center;
  }

  /*destaque*/
  .destaques {
    display: flex;
    margin: 10px;
    top: 0px;
    margin-bottom: 150px;
  }
  .destaques > div {
    flex: 1 0 200px;
    margin: 5px;
    height: auto;
  }
  .destaques p {
    font-size: 16px;
    text-align: center;
  }
  #buttonc1,
  #buttonc2,
  #buttonc3,
  #buttonc4 {
    float: right;
    background-color: white;
    color: rgb(0, 72, 180);
    margin-top: 10px;
  }
  .destaques h5 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }
  #categorias {
    margin: 15px;
  }
  #card,
  #card2,
  #card3,
  #card4 {
    padding: 0px;
  }


  /*grid*/
  .grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 100px;
    margin: 0 auto;
    max-width: 1000px;
    padding: 10px;
  }
  .grid1 {
    grid-column: 1;
    font-size: 15px;
    padding-bottom: 20px;
  }
  .grid2 {
    text-align: center;
    margin-top: 90px;
    padding-right: 0px;
  }



ul {
  padding: 0px!important;
}
.menu-principal {
width: 100%;
background-color: #1d1b1b;
height: 60px;
position: fixed;
}
main, .content {
margin: 0 auto;
width: 980px;
position: relative;
}
.logo {
float: left;
padding: 16px;
width: 70%;
}
.redes-sociais ul li {
   margin-left: 10px;
   display: inline;
   float: right;
list-style: square;

}
.redes-sociais {
width: 30%;
display: inline;
float: left;
}

.col-100 {
  width: 100%;
  float: left;

  position:fixed;
}


.bloco-imagens-texto:after {
  width: 100%;
  display: inline-block;
  content: '';
  height: 70px;
  background: #180446;
}
.col-4 {
  float: left;
  width: 25%;
  text-align: center;
}
.col-4 img {
cursor: pointer;
margin: 0 auto;
padding-top: 1em;
vertical-align: middle;
}
.col-4 img:hover {
  margin-top: 10px!important;
  position: relative!important;
}


.bloco-logos {
  height: 170px;
}

.bloco-logos img {
  margin-top: 50px;
}

.footer h3 {
  text-align: left;
}

.footer {
  background-image: url('../img/footer.png');
  color: #ffffff;
}

.footer-2 {
  background-image: url('../img/footer2.png');
  color: #c1c1c1;
  height: 90px;
}


.footer p {
  width: 90%;
  text-align: left;
}

.footer-2 p {
  padding: 10px;
}

.clock {
  color: #898989!important;
}

.clock:before {
  content: '';
  width:  15px;
  height: 15px;
  display: inline-block;
  background-image: url('../img/clock.png');
  float: left;
  background-repeat: no-repeat;
  padding-left: 5px;
}

.local:before, .emailico:before, .telefoneico:before {
  content: '';
  width:  17px;
  height: 24px;
  display: inline-block;
  float: left;
  background-repeat: no-repeat;
  padding-left: 5px;
}
.local:before {
  background-image: url('../img/local.png');
}
.emailico:before {
  background-image: url('../img/emailico.png');
}
.telefoneico:before {
  background-image: url('../img/telefoneico.png');
}